<%# collection_cache(parent) do %>
<section class="projects-section">
	<!-- Begin Projects -->
	<div class="container">
    <div class="row projects">
      <%= render @projects %>
    </div>
  </div>
</section>
<%# end %>
